<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ut001</key>
	<dict>
		<key>name</key>
		<string>Infantry</string>
		<key>cost</key>
		<integer>1</integer>
		<key>toughness</key>
		<integer>5</integer>
		<key>meleeAttack</key>
		<integer>7</integer>
		<key>meleeDefence</key>
		<integer>5</integer>
		<key>rangedAttack</key>
		<integer>0</integer>
		<key>rangedDefence</key>
		<integer>4</integer>
		<key>magicalAttack</key>
		<integer>0</integer>
		<key>magicalDefence</key>
		<integer>3</integer>
		<key>visionRange</key>
		<dict>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>2</integer>
			<key>leftRear</key>
			<integer>2</integer>
			<key>diagonallyForwardLeft</key>
			<integer>2</integer>
		</dict>
		<key>moveingRange</key>
		<dict>
			<key>turning</key>
			<integer>3</integer>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>1</integer>
			<key>leftRear</key>
			<integer>1</integer>
			<key>diagonallyForwardLeft</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ut002</key>
	<dict>
		<key>name</key>
		<string>Archer</string>
		<key>cost</key>
		<integer>1</integer>
		<key>toughness</key>
		<integer>3</integer>
		<key>meleeAttack</key>
		<integer>3</integer>
		<key>meleeDefence</key>
		<integer>3</integer>
		<key>rangedAttack</key>
		<integer>5</integer>
		<key>rangedDefence</key>
		<integer>3</integer>
		<key>magicalAttack</key>
		<integer>0</integer>
		<key>magicalDefence</key>
		<integer>2</integer>
		<key>visionRange</key>
		<dict>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>2</integer>
			<key>leftRear</key>
			<integer>2</integer>
			<key>diagonallyForwardLeft</key>
			<integer>2</integer>
		</dict>
		<key>moveingRange</key>
		<dict>
			<key>turning</key>
			<integer>3</integer>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>1</integer>
			<key>leftRear</key>
			<integer>1</integer>
			<key>diagonallyForwardLeft</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ut003</key>
	<dict>
		<key>name</key>
		<string>Cavalry</string>
		<key>cost</key>
		<integer>2</integer>
		<key>toughness</key>
		<integer>7</integer>
		<key>meleeAttack</key>
		<integer>10</integer>
		<key>meleeDefence</key>
		<integer>8</integer>
		<key>rangedAttack</key>
		<integer>0</integer>
		<key>rangedDefence</key>
		<integer>5</integer>
		<key>magicalAttack</key>
		<integer>0</integer>
		<key>magicalDefence</key>
		<integer>5</integer>
		<key>visionRange</key>
		<dict>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>2</integer>
			<key>leftRear</key>
			<integer>2</integer>
			<key>diagonallyForwardLeft</key>
			<integer>2</integer>
		</dict>
		<key>moveingRange</key>
		<dict>
			<key>turning</key>
			<integer>1</integer>
			<key>forward</key>
			<integer>3</integer>
			<key>diagonallyForwardRight</key>
			<integer>3</integer>
			<key>rightRear</key>
			<integer>3</integer>
			<key>backward</key>
			<integer>0</integer>
			<key>leftRear</key>
			<integer>2</integer>
			<key>diagonallyForwardLeft</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>ut004</key>
	<dict>
		<key>name</key>
		<string>Spell Caster</string>
		<key>cost</key>
		<integer>1</integer>
		<key>toughness</key>
		<integer>2</integer>
		<key>meleeAttack</key>
		<integer>1</integer>
		<key>meleeDefence</key>
		<integer>2</integer>
		<key>rangedAttack</key>
		<integer>0</integer>
		<key>rangedDefence</key>
		<integer>2</integer>
		<key>magicalAttack</key>
		<integer>7</integer>
		<key>magicalDefence</key>
		<integer>7</integer>
		<key>visionRange</key>
		<dict>
			<key>forward</key>
			<integer>2</integer>
			<key>diagonallyForwardRight</key>
			<integer>2</integer>
			<key>rightRear</key>
			<integer>2</integer>
			<key>backward</key>
			<integer>2</integer>
			<key>leftRear</key>
			<integer>2</integer>
			<key>diagonallyForwardLeft</key>
			<integer>2</integer>
		</dict>
		<key>moveingRange</key>
		<dict>
			<key>turning</key>
			<integer>1</integer>
			<key>forward</key>
			<integer>1</integer>
			<key>diagonallyForwardRight</key>
			<integer>1</integer>
			<key>rightRear</key>
			<integer>1</integer>
			<key>backward</key>
			<integer>1</integer>
			<key>leftRear</key>
			<integer>1</integer>
			<key>diagonallyForwardLeft</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
